* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Monospace;
    color: yellowgreen;   
}

body {
    background-color: rgb(33, 33, 33);
}

p {
    font-size: 12px;
}

li {
    list-style: none;
}

button {
    outline: none;
    background-color: rgb(90, 90, 101);
    font-size: 14px;
}

button:hover {
    color: rgb(213, 255, 3);
    background-color: black;
}

/* Outer Container Styling */
.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    height: 100vh;
}

/* Top Bar Styling */
.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Inner Container Styling */
.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(90, 90, 101);
    height: 100%;
    width: 50%;
    margin: auto;
}

/* Quiz Intro Screen Styling */
.quiz-intro-screen {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-left: 10vh;
    margin-right: 10vh;
    text-align: center;
    background-color: cornflowerblue;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10vh;
    margin-right: 10vh;
    text-align: center;
    background-color: cornflowerblue;
}

/* Questions Screen Styling */
.questions-screen {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-left: 10vh;
    margin-right: 10vh;
    text-align: center;
    background-color: cornflowerblue;
}

/* Quiz Finished Screen Styling */
.quiz-finished-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10vh;
    margin-right: 10vh;
    text-align: center;
    background-color: cornflowerblue;
}

/* High Scores Screen Styling */
.high-scores-screen {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-left: 10vh;
    margin-right: 10vh;
    text-align: center;
    background-color: cornflowerblue;
}